
  <footer class="bg-primary text-center text-lg-start">

    <div class="container p-1">
      <!-- Section: Social media -->
      <section class="mb-1">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/socceradda/" target="_blank" role="button"
          ><i class="fa fa-facebook-f fa-lg white-text fa-2x"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/SoccerAdda" target="_blank" role="button"
          ><i class="fa fa-twitter fa-lg white-text fa-2x"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/thesocceradda?utm_medium=copy_link" target="_blank" role="button"
          ><i class="fa fa-instagram fa-lg white-text fa-2x"></i
        ></a>
      </section>

    <!-- Copyright -->
    <section class="text-light mb-1">
      © 2021 Copyright:
      <b><a class="text-light" href="https://thesocceradda.com/">thesocceradda.com</a></b>
    </section>
    <p class="text-light">Contact us : <b>contributers@thesocceradda.com</b></p>
    <!-- Copyright -->
  </div>
  </footer>

